$font: Avenir, Helvetica, Arial, sans-serif;

//Colors
$primaryGreen: #00947e;
$lightGreen: #ebfffc;
$white: #ffffff;
$primaryGrey: #363636;
$lightGrey: #fafafa;
$lightPurple: #EFF2FF;
$primaryBlack: #0a0a0a;
$primaryDarkBlue: #1F2430;